.drawerPage-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pageTitle {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: start;
  margin-bottom: 10px;
}

.orderSummary-wrapper {
  /* box-shadow: 0 3px 8px rgba(96, 96, 96, 0.6); */
  /* border-radius: 6px; */
  /* padding: 15px 30px 15px 30px; */
}

.payment-row {
  display: flex;
  flex-direction: row;
  gap: 12rem;
  justify-content: space-between;
  font-size: medium;
  font-weight: 500;
  padding: 25px 10px;
}
.payment-row > div {
  width: max-content;
}

.topBorderLine {
  border-top: 2px solid rgb(222, 220, 220);
}

.drawerBox-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  background-image: linear-gradient(
    to right top,
    #9abff3,
    #96b9f5,
    #94b3f7,
    #93adf8,
    #94a6f8
  );
  color: #fafafa;
  padding: 30px 10px;
  font-size: medium;
  font-weight: bold;
}

.total-wrapper {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid rgb(211, 209, 209);
}

.total-text {
  font-weight: bold;
  font-size: large;
}

.total-price {
  font-weight: bold;
  font-size: large;
}

.footerButtons {
  padding-top: 15px;
  text-align: center;
  width: max-content;
  position: absolute;
  bottom: 50px;
}

.button {
  padding: 10px 130px;
  border-radius: 25px;
  color: #fafafa;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background-color: #6f94f0;
  border: 1px solid #6f94f0;
}

.continueButton {
  background-color: #5b71e1;
  border: 1px solid #5b71e1;
}

.footerButtons > a {
  margin-left: auto;
}
